# PostgreSQL Database connection URL
# Reemplaza 'username', 'password', 'localhost', '5432' y 'central_donuts' con tus datos reales de PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/central_donuts?schema=public"
